.header,
.footer {
  background-color: rgb(224, 224, 224);
}
.header {
  height: 5vh;
}
.footer {
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.body {
  display: flex;
  flex-flow: column;
  min-height: 60vh;
  text-align: center;
  line-height: 3;
  font-family: Calibri, sans-serif;
  font-weight: bold;
}
.aside {
  width: 35vh;
  background-color: rgb(221, 236, 203);
}
.section {
  flex: 1;
  background-color: rgb(255, 248, 227);
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
}
.text {
  flex-grow: 1;
}
.more_p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.more1 {
  background-color: rgb(254, 234, 185);
  flex: 1;
  margin-right: 10px;
}
.more2 {
  background-color: rgb(254, 234, 185);
  flex: 1;
  margin-left: 10px;
}
.more_s {
  background-color: rgb(254, 234, 185);
  flex-grow: 1;
  max-height: 60px;
  margin-top: 20px;
}
.fsection {
  height: 60px;
  width: 150px;
  background-color: whitesmoke;
}
