body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  background-color: lightgray;
}
.header {
  min-width: 100vw;
  box-shadow: 0 0 3vh black;
}
.headermenu {
  height: 17vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
}
button {
  border-radius: 5px;
  width: 169px;
  height: 36px;
  margin: 20px;
}
.logo {
  align-self: auto;
  margin-right: auto;
}
#logo {
  height: 44px;
  width: 182px;
}
#number {
  margin-right: 20px;
}
#call {
  color: rgb(255, 255, 255);
  background-color: blueviolet;
  margin-right: 20px;
}
#account {
  color: #7a0ce8;
  stroke: #7a0ce8;
  background-color: white;
}
#call:hover {
  color: lightpink;
}
#account:hover {
  color: lightpink;
}
a:active {
  color: darkgray;
}
a:visited {
  color: #7a0ce8;
}
hr {
  position: absolute;
  margin-left: 10vw;
  height: 1px;
  width: 80vw;
}
.menu {
  min-width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  background-color: white;
  font-size: 20px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.05em;
  text-align: left;
  padding-top: 60px;
}
.text_image {
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2em;
  margin: 8vw;
}
.text {
  color: #4c3563;
  height: 20vh;
  width: 49vw;
}
.images {
  width: 49vw;
  height: 20vh;
  z-index: -1;
  position: relative;
}
.container {
  background-color: white;
  color: #4c3563;
  height: 30vh;
  width: 70vw;
  border-radius: 35px;
  text-align: center;
  font-size: 1.25em;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  align-content: center;
  margin-bottom: 5vh;
}
.block1 {
  padding-left: 5vw;
}
.block2 {
  padding-right: 5vw;
}
.footer {
  background-color: white;
  min-width: 100vw;
  height: 35vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.column1 {
  padding-top: 20px;
  width: 20vw;
}
.column2 {
  max-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20vw;
  padding-top: 20px;
  padding-bottom: 20px;
}
.column3 {
  max-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20vw;
  padding-top: 20px;
  padding-bottom: 80px;
}
.column4 {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20vw;
}
#logo_footer {
  width: 192px;
}
#bank_footer {
  width: 263px;
}
